/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: #202030;
	background-color: #FFFFFF;
}
.custom-heading {
    font-family: Verdana; /* Change the font */
    color: #000000; /* Change the color */
}
/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #78B869;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #CCCCCC;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #78B869;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.custom-progress {
    background-color: #78B869 !important; /* Custom Orange */
}
.custom-text-color {
    color: mediumvioletred; /* Change this to any color you like */
}
.move-right {
    position: relative;
    left: 30px; /* Moves the image 20px to the right */
}

